.app-main {
   background: #444444;
   width: 100vw;
   height: 100vh;
   min-width: 100vw;
   min-height: 100vh;
   max-width: 100vw;
   max-height: 100vh;
   // overflow: hidden;
   overflow: auto;
   display: flex;
   flex-direction: column;

   .menu {
      // background: #3a3a3a;
      width: 100%;
      height: 30px;
      display: flex;
      gap: 10px;
      color: white;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      padding: 0 20px;

      .item {
         padding: 3px;
         background: inherit;
         cursor: pointer;
         user-select: none;

         &:hover {
            background: #AAAAAA;
         }
      }
   }

   .wrapper-work-area {
      display: flex;
      width: 100%;
      height: 100%;
      position: relative;

      .inner-work-area {
         background: #ababab;
         width: 100%;
         height: 100%;

         &.tool-left {
            margin-left: 60px;
            width: calc(100% - 60px);
            max-width: calc(100% - 60px);
         }

         &.tool-right {
            margin-right: 310px;
            width: calc(100% - 310px);
            max-width: calc(100% - 310px);
         }

         &.tools {
            margin-left: 60px;
            margin-right: 310px;
            width: calc(100% - 370px);
            max-width: calc(100% - 370px);
         }
      }

      .tools-bar {
         width: 50px;
         height: auto;
         min-height: 500px;
         position: absolute;
         left: 0;
         margin: 5px;
      }

      .properties-panel {
         width: 300px;
         height: calc(100% - 10px);
         position: absolute;
         right: 0;
         margin: 5px;
      }
   }

   .status-bar {
      background: #444444;
      width: 100%;
      height: 30px;
   }

   .documents-bar {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 5px;
      font-size: 13px;
      padding: 5px;
      padding-bottom: 0;
      background: #444444;
      overflow: auto;
      max-width: inherit;
      width: inherit;
      max-width: 100%;
      width: 100%;
      flex-direction: row;
      flex-wrap: nowrap;

      .item {
         background: #333333;
         color: white;
         padding: 4px 4px;
         border-radius: 5px;
         border-bottom-left-radius: 0;
         border-bottom-right-radius: 0;
         line-height: 1;
         display: flex;
         align-items: center;
         justify-content: center;
         cursor: pointer;
         gap: 5px;

         .closeDocument {
            width: 15px;
            height: 15px;
            font-size: 14px;
            color: #B1B1B1;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .material-symbols-outlined {
               font-size: inherit;
            }
         }

         &.current, &:hover {
            background: #595959;
         }
      }
   }
}


.panel {
   background: #595959;
   border-radius: 8px;
}